<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalproject.finalteam1.mapper.finishedgoods.FinishedGoodsMapper">
    <select id="getGoodsList" resultType="com.finalproject.finalteam1.domain.finishedgoods.FinishedGoodsVO">
        SELECT /*+ INDEX_ASC(FINISHEDGOODS SYS_C0012608)*/*
        FROM FINISHEDGOODS
    </select>

</mapper>